body{
margin:0;
padding:0;
}
header{
border:1px solid red;
background-color:block;
}
#logo{
margin-left:5px;
mardin-bottom:3px;
display:inline-block;
vertical-align:bottom;
}
#a{
list-style:none;
display:inline-block;
}
span{
background-color:yellow;
display:inline-block;
border:1px solid red;
padding:2px 45px 2px 45px;
margin-left:60px;
text-color:block;
margin-bottom:20px;
}
#b{
width:10%;
}
#c{
font-family:Palatino Linotype;
color:brown;
}
#par{
text-align:justify;
display :inline-block;
}
#d{
display :inline-block;
}